@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <div class="bg-dark text-white">
        <br />
        <p>
            This is a web application that uses the Identity system for logging in and registering users. 
            <br />Only a registered and logged in user can access changes, details and deletion of data. 
            <br />An unregistered user can only view the list and search. Search is enabled by book title and author.
            <br />An authentication cookie was also created
        </p>
        <br />
    </div>
    <br />
    <br />
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
